
.style0
{
    white-space:nowrap;
    color:black;
    font-style:normal;
    text-decoration:none;
    border:none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:9.0pt;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
hr {
    height: 10px;
    color: #74b807;
    background-color: #74b807;
}
td
{
    padding-top:1px;
    padding-right:10px;
    padding-left:10px;
    color:black;
    font-style:normal;
    text-decoration:none;
    vertical-align: top;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:9.0pt;
    border:solid 1pt gray;
    white-space:nowrap;
    background-color: white;
}
.main
{
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;
}
.red
{
    color:#FF0003;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}

.orange
{
    color:#FF6F00;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}
.green
{
    color:limegreen;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}
.blue
{
    color:dodgerblue;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}
.black
{
    color:black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}

.menu
{
    text-align: center;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;

}
.headers
{
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;
}


.myButton {

    width: 130px;
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color:#89c403;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size:14px;
    padding:4px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}
.myButton:hover {

    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color:#77a809;
}
.myButton:active {
    position:relative;
    top:1px;
}
.pass
{
    color:limegreen;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}
.fail
{
    color:#FF0003;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}

select {
    padding:3px;
    margin: 0;
    font-size: 11.0pt;
    width: 200px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

label {position:relative;}
label:after {
    content:'<>';
    font-size: 9.0pt;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}



/* Absolute Center CSS Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}