
.style0
{
    white-space:nowrap;
    color:black;
    font-style:normal;
    text-decoration:none;
    border:none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:9.0pt;
}
td
{
    padding-top:1px;
    padding-right:10px;
    padding-left:10px;
    color:black;
    font-style:normal;
    text-decoration:none;
    vertical-align: top;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:9.0pt;
    border:solid 1pt gray;
    white-space:nowrap;
    background-color: white;
}
.main
{
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;
}
.red
{
    color:#FF0003;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}

.orange
{
    color:#FF6F00;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}
.green
{
    color:limegreen;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}
.blue
{
    color:dodgerblue;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}
.black
{
    color:black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}

.menu
{
    text-align: center;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;
}
.headers
{
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;
}


.myButton {

    width: 130px;
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color:#89c403;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size:14px;
    padding:4px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}
.myButton:hover {

    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color:#77a809;
}
.myButton:active {
    position:relative;
    top:1px;
}
.pass
{
    color:limegreen;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}
.fail
{
    color:#FF0003;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}

ul li { list-style:url('green-bullet-point.jpg'); }
