
.style0
{;
    white-space:nowrap;
    color:black;
    font-style:normal;
    text-decoration:none;
    border:none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:9.0pt;
}
td
{
    padding-top:1px;
    padding-right:10px;
    padding-left:10px;
    color:black;
    font-style:normal;
    text-decoration:none;
    vertical-align: top;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:9.0pt;
    border:solid 1pt gray;
    white-space:nowrap;
    background-color: white;
}
.main
{
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;
}
.red
{
    color:#FF0003;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}

.orange
{
    color:#FF6F00;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    vertical-align: bottom;
    font-size:9.0pt;
}

.menu
{
    text-align: center;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;
}
.headers
{
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;
    font-size:12.0pt;
}